In [ ]:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [ ]:
import pandas as pd

In [ ]:
fileDownload = drive.CreateFile({'id': '1aFyZFQk6_sgKajhw-2jNBWSEryPuywws'})
fileDownload.GetContentFile('fig2_data.csv')

In [ ]:
df = pd.read_csv('fig2_data.csv',encoding = "cp932")
df.head()

,日経会社コード,企業名称,決算期,決算種別,連結基準,<貸借対照表（資産）>資産合計(百万円),<その他項目>設備投資額［累計］(百万円),<その他項目>研究開発費［累計］(百万円)
0,322,トヨタ紡織,2000/03,10,1,38138,8562.0,2331.0
1,322,トヨタ紡織,2001/03,10,1,52088,6612.0,3075.0
2,322,トヨタ紡織,2002/03,10,1,60270,6327.0,3473.0
3,322,トヨタ紡織,2003/03,10,1,64527,7815.0,4647.0
4,322,トヨタ紡織,2004/03,10,1,71434,6942.0,5570.0

In [ ]:
df = df.drop(columns={'決算種別'})
df = df.drop(columns={'連結基準'})
df = df.drop(columns={'企業名称'})	
df = df.drop(columns={'日経会社コード'})

In [ ]:
df = df.rename(columns={'決算期':'AP'})
df = df.rename(columns={'<貸借対照表（資産）>資産合計(百万円)':'assets'})
df = df.rename(columns={'<その他項目>設備投資額［累計］(百万円)':'Capital expenditures'})
df = df.rename(columns={'<その他項目>研究開発費［累計］(百万円)':'R&D'})

In [ ]:
df.head()

        AP  assets  Capital expenditures     R&D
0  2000/03   38138                8562.0  2331.0
1  2001/03   52088                6612.0  3075.0
2  2002/03   60270                6327.0  3473.0
3  2003/03   64527                7815.0  4647.0
4  2004/03   71434                6942.0  5570.0

In [ ]:
df['fyear'] = df['AP'].str[:4]
df['fyear'] = df['fyear'].astype(int)

In [ ]:
df.head()

        AP  assets  Capital expenditures     R&D  fyear
0  2000/03   38138                8562.0  2331.0   2000
1  2001/03   52088                6612.0  3075.0   2001
2  2002/03   60270                6327.0  3473.0   2002
3  2003/03   64527                7815.0  4647.0   2003
4  2004/03   71434                6942.0  5570.0   2004

In [ ]:
df = df.drop(columns={'AP'})

In [ ]:
df.head()

   assets  Capital expenditures     R&D  fyear
0   38138                8562.0  2331.0   2000
1   52088                6612.0  3075.0   2001
2   60270                6327.0  3473.0   2002
3   64527                7815.0  4647.0   2003
4   71434                6942.0  5570.0   2004

In [ ]:
df["R&D/ASSETS"]=df["R&D"]/df["assets"]

In [ ]:
df.head()

   assets  Capital expenditures     R&D  fyear  R&D/ASSETS
0   38138                8562.0  2331.0   2000    0.061120
1   52088                6612.0  3075.0   2001    0.059035
2   60270                6327.0  3473.0   2002    0.057624
3   64527                7815.0  4647.0   2003    0.072016
4   71434                6942.0  5570.0   2004    0.077974

In [ ]:
df["Capital expenditures/ASSETS"]=df["Capital expenditures"]/df["assets"]

In [ ]:
df.head()

,assets,Capital expenditures,R&D,fyear,R&D/ASSETS,Capital expenditures/ASSETS
0,38138,8562.0,2331.0,2000,0.061120,0.224500
1,52088,6612.0,3075.0,2001,0.059035,0.126939
2,60270,6327.0,3473.0,2002,0.057624,0.104978
3,64527,7815.0,4647.0,2003,0.072016,0.121112
4,71434,6942.0,5570.0,2004,0.077974,0.097181

In [ ]:
df.plot('fyear','R&D/ASSETS')

NameError: ignored